*{
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

footer{

  border-radius: 10rem;
  background-color: white;
  
}
a{
  margin: 2rem;


}
img{

  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  border-style: solid; 
  border-color: black;
}
p{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;  
}

html,body{
  font-size: 62.5%;
  font-family: 'Times New Roman', Times, serif;
  text-rendering: optimizeLegibility;
}
header{
 background-color: gray;
  display: flex;
  font-size: 1.5rem;
  height: 15rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.3rem solid black

  
}
div{
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:  3rem;
}
footer{

  height: 3rem;
  width: 50rem;

}

ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

section{

  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 50rem;
  padding-right: 50rem;
  height: 2rem;
  border-radius: 10rem;
}

article{
  background-color: gray;
  display: flex;
  border-radius: 4rem;
  justify-content: center;
  align-items: center;
  height: 35rem;
  width: 70rem;
  margin-left: 40rem;
  margin-top: 10rem;}  